/* General */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comfortaa', cursive;
}

header {
  margin: 2rem 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 44rem;
  margin: 0 auto;
}

/* Button */

.btn {
  padding: 0.8rem 1.2rem;
  letter-spacing: 1.1px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;

  transition: background-color 0.3s;
}

.btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;

  transition: background-color 0.3s;
}

/* Controls */

#inputItem {
  padding: 0.8rem;
  border-radius: 5px;
  width: 16rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

#inputItem:focus {
  outline: none !important;
  border: 2px double black;
}

/* List Items */

li {
  padding: 1.2rem;
  background-color: blue;
}