/* General */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comfortaa', cursive;
}

header {
  margin: 2rem 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 44rem;
  margin: 0 auto;
}

i {
  pointer-events: none !important;
}

/* Button */

.btn {
  padding: 0.8rem 1.2rem;
  letter-spacing: 1.1px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;

  transition: background-color 0.3s;
}

.btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;

  transition: background-color 0.3s;
}

.small {
  width: 2rem;
  height: auto;
  margin: 0.5rem 0.65rem;
  background-color: white;
}

.checkbox {
  margin: 0.5rem;
}
/* Controls */

#inputItem {
  padding: 0.8rem;
  border-radius: 5px;
  width: 16rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

#inputItem:focus {
  outline: none !important;
  border: 2px double black;
}

/* List Items */

li {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  text-align: center;
  list-style: none;
  margin: 1rem 0rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  max-width: 24rem;
  height: auto;
}

ul {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoText{
  padding: 0.25;
  align-self: center;
}